* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #a8f6f1;
    font-family: Arial, sans-serif;
}

.formulario-inicio h2 {
    color: #159284;
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

.formulario-inicio{
    width: 30%;
    height: 500px;
    margin-left: 510px;
    margin-top: 80px;
    padding: 30px;
    background-color: white;
    border-radius: 45px;
}

.usuario{
    color: #159284;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}

#usuario{
    border: 3px solid #5ce5d7;
    padding: 10px;
    font-size: 16px;
    color: #222;
    margin-top: 15px;
    background-color: #f9f9f9;
    border-radius: 18px;
}

.correo{
    color: #159284;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}

#correo{
    border: 3px solid #5ce5d7;
    padding: 10px;
    font-size: 16px;
    color: #222;
    margin-top: 15px;
    background-color: #f9f9f9;
    border-radius: 18px;
}

#entrar{
    background-color: #86eee4;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 140px;
    margin-top: 37px;
    border-radius: 20px;
    width: 120px;
    height: 45px;
}


