* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #fffaf0;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkgreen;
}



.formulario-inicio{
    width: 30%;
    height: 500px;
    margin-left: 510px;
    margin-top: 80px;
    padding: 30px;
    background-color: #d8bfd8;
    border-radius: 30px;
}


