.receta {
    background-color: #fffef6;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
}

.titulo-receta {
    color: #4caf50;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.imagen-receta {
    display: block;
    margin: 0 auto 15px;
    border-radius: 10px;
}

.detalles-receta {
    font-family: 'Arial', sans-serif;
    font-size: 0.95em;
}

.detalles-receta ul,
.detalles-receta ol {
    margin: 0 0 10px 20px;
}









.guardado {
    color: gold;
}

.no-guardado {
    color: grey;
}










