<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="formulario-inicio">
        <h2>Iniciar sesión</h2>
        <form action="/login" method="post">
            <div class="usuario">
            <label for="usuario" class="label-usuario">Usuario:</label>
            <br>
            <input type="text" id="usuario" name="usuario" required>
            </div>

            <div class="correo">
            <label for="correo">Correo:</label>
            <br>
            <input type="email" id="correo" name="correo" required>
            </div>

            <button type="submit" id="entrar">Entrar</button>
        </form>
    </div>
</body>
</html>
