<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
 <header>
     <form action="/buscar" method="post">
     <input type="text" id="busqueda" name="busqueda" placeholder="¿Qué hay en tu nevera?" >
         <button type="submit">Buscar</button>
      <i class="fa-brands fa-sistrix"></i>
     </form>
 </header>
    <h2>¡Hola, {{ usuario }}!</h2>

{% if busqueda_realizada %}
    {% if recetas %}
        <h3>Resultados de la búsqueda:</h3>
        {% for receta in recetas %}






</body>
</html>