<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<header>
    <form action="/buscar" method="post">
        <div class="campo-busqueda">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="busqueda" name="busqueda" placeholder="¿Qué hay en tu nevera?">
        </div>
        <button type="submit">Buscar</button>
    </form>
</header>

<h2>¡Hola, {{ usuario }}!</h2>

{% if busqueda_realizada %}
    {% if recetas %}
        <h3>Resultados de la búsqueda:</h3>
        <div class="contenedor-recetas">
            {% for receta in recetas %}
                <div class="receta">
                    <h4>{{ receta.nombre }}</h4>
                    <img src="{{ url_for('static', filename='imagenes/' + receta.imagen) }}" class="imagen-receta" width="300" height="200">

                    <h5><strong>Ingredientes:</strong></h5>
                    <ul>
                        {% for ingrediente in receta.ingredientes %}
                            <li>{{ ingrediente }}</li>
                        {% endfor %}
                    </ul>

                    <h5><strong>Cantidades:</strong></h5>
                    <ul>
                        {% for cantidad in receta.cantidades %}
                            <li>{{ cantidad }}</li>
                        {% endfor %}
                    </ul>

                    <h5><strong>Pasos:</strong></h5>
                    <ol>
                        {% for paso in receta.pasos %}
                            <li>{{ paso }}</li>
                        {% endfor %}
                    </ol>
                    <form action="{{ url_for('guardar_receta', nombre_receta=receta.nombre) }}" method="post" class="guardar-icon" aria-label="Guardar receta">
    <button type="submit" aria-label="Guardar receta">
        <i class="fa-solid fa-bookmark {% if receta.nombre in favoritas %}guardado{% endif %}"></i>
    </button>
</form>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron recetas con ese ingrediente.</p>
    {% endif %}
{% endif %}

</body>
</html>
