<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pagina.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
 <header>
     <form action="/buscar" method="post">
    <div class="campo-busqueda">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="busqueda" name="busqueda" placeholder="¿Qué hay en tu nevera?">
    </div>
    <button type="submit">Buscar</button>
</form>

 </header>
    <h2>¡Hola, {{ usuario }}!</h2>

{% if busqueda_realizada %}
    {% if recetas %}
        <h3>Resultados de la búsqueda:</h3>
        {% for receta in recetas %}
            <div class="receta">
                <h4>{{ receta.nombre }}</h4>
                <p><strong>Ingredientes:</strong> {{ receta.ingredientes|join(', ') }}</p>
                <p><strong>Pasos:</strong> {{ receta.pasos|join(', ') }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No se encontraron recetas con ese ingrediente.</p>
    {% endif %}
{% endif %}


<div class="batidos">
    <h1>Batidos y Refrescos</h1>
    <a href="{{ url_for('mostrar_batidos') }}">
    <img src="{{ url_for('static', filename='imagenes/batido.jpeg') }}" alt="Imagen de batido" class="img-batido">
</a>

</div>


</body>
</html>