<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='principal.css') }}">
</head>
<body>
<header>
    <form action="/buscar" method="post">
        <div class="campo-busqueda">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" id="busqueda" name="busqueda" placeholder="¿Qué hay en tu nevera?">
        </div>
        <button type="submit">Buscar</button>
          <a href="{{ url_for('mostrar_perfil') }}" class="perfil-bola">Perfil</a>
            <a href="{{ url_for('mostrar_enterate') }}" class="enterate-bola">Entérate</a>

    </form>
</header>




<h2>¡Hola, {{ usuario }}!</h2>

<div class="batidos">
    <h1>Batidos y Refrescos</h1>
    <a href="{{ url_for('mostrar_batidos') }}">
        <img src="{{ url_for('static', filename='imagenes/batido.jpeg') }}" class="img-batido">
    </a>
</div>

<div class="postres">
    <h1>Postres</h1>
    <a href="{{ url_for('mostrar_postres') }}">
        <img src="{{ url_for('static', filename='imagenes/postre.jpeg') }}" class="img-postre">
    </a>
</div>

<div class="salsas">
    <h1>Salsas</h1>
    <a href="{{ url_for('mostrar_salsas') }}">
        <img src="{{ url_for('static', filename='imagenes/salsas.jpg') }}" class="img-salsa">
    </a>
</div>

<div class="pizzas">
    <h1>Pizzas</h1>
    <a href="{{ url_for('mostrar_pizzas') }}">
        <img src="{{ url_for('static', filename='imagenes/pizza.jpg') }}" class="img-pizza">
    </a>
</div>

<div class="pastas">
    <h1>Pastas</h1>
    <a href="{{ url_for('mostrar_pastas') }}">
        <img src="{{ url_for('static', filename='imagenes/pasta.jpg') }}" class="img-pasta">
    </a>
</div>

<div class="hamburguesas">
    <h1>Hamburguesas</h1>
    <a href="{{ url_for('mostrar_hamburguesas') }}">
        <img src="{{ url_for('static', filename='imagenes/hamburguesa.jpg') }}" class="img-hamburguesa">
    </a>
</div>

<div class="fitness">
    <h1>Fitness</h1>
    <a href="{{ url_for('mostrar_fitness') }}">
        <img src="{{ url_for('static', filename='imagenes/fitness.jpeg') }}" class="img-fitness">
    </a>
</div>

<div class="mexicanos">
    <h1>Méxicano</h1>
    <a href="{{ url_for('mostrar_mexicanos') }}">
        <img src="{{ url_for('static', filename='imagenes/mexicano.jpeg') }}" class="img-mexicano">
    </a>
</div>

<div class="desayunos">
    <h1>Desayunos</h1>
    <a href="{{ url_for('mostrar_desayunos') }}">
        <img src="{{ url_for('static', filename='imagenes/desayunos.jpg') }}" class="img-desayuno">
    </a>
</div>




</body>
</html>